<link rel="stylesheet" src="./aboutus.css"/>
<div class="about">
<div id="about-main">
    
    <div class="story-container">
        <div class="jumbotron-inner">
            <div class="top-box">
                <div class="content-box">
                    <h1>O IT  SPA</h1>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                        Architecto, quia ut? Sequi explicabo iste nihil omnis libero, velit
                        rem accusamus eius facilis sint expedita deleniti fuga. Commodi
                        facere amet quod. <br />
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse
                        officia deserunt itaque ratione dolores cumque eum sed sapiente
                        aliquam doloribus, officiis possimus obcaecati nesciunt, nisi quia
                        veniam dignissimos optio quisquam!
                    </p>
                </div>
            </div>
        </div>
        <div class="img-layer-container">
            <div class="outside-image" id="outside-image">
                <img class="rounded mb-4" src="/src/resources/aboutusphotos/img1.hotel.jpg" alt="Zdjęcie hotelu" />
            </div>
        </div>
        <div class="need-for-relax-container">
            <h3 class="text-center">Zapotrzebowanie na relaks</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum eaque sed
                excepturi impedit quasi doloribus ullam autem porro voluptatum
                molestiae. Unde culpa error consectetur exercitationem quae quod
                corporis eveniet fuga. Lorem ipsum dolor, sit amet consectetur
                adipisicing elit. Soluta qui enim mollitia dolores incidunt consequatur?
                Itaque, asperiores! Dolorem corporis ipsum reiciendis esse, in officia
                recusandae placeat, inventore dolore id distinctio?
            </p>
        </div>


        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-lg-0">
            <img
                src="../../resources/aboutusphotos/img2.massage.jpg"
                class="w-70 shadow-1-strong rounded mb-4"
                alt=""
            />
            <img
            src="../../resources/aboutusphotos/img5.room.jpg"
            class="w-70 shadow-1-strong rounded mb-4"
            alt=""
            />
            </div>
            <div class="col-lg-6 mb-4 mb-lg-0">
            <img
                src="../../resources/aboutusphotos/img4.room.jpg"
                class="w-70 shadow-1-strong rounded mb-4"
                alt=""
            />
            <img
                src="../../resources/aboutusphotos/img1.massage.jpg"
                class="w-70 shadow-1-strong rounded mb-4"
                alt=""
            />
            </div>
        
        </div>
        


        <div class="container-divider"></div>
        <div class="origin-story-container">
            <h3 class="text-center">Nasza historia</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis,
                ex! Maxime pariatur atque veritatis nisi minus hic quae dolor laborum
                harum nam debitis molestias, ad adipisci enim, delectus, animi
                molestiae?Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Nostrum doloremque nam illum similique. Consequuntur quae accusamus
                debitis illum dolor autem distinctio omnis ipsum animi, quaerat saepe
                totam exercitationem ipsa error.
            </p>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam
                molestiae id minus laboriosam labore nesciunt libero impedit repellendus
                incidunt? Quo voluptatibus sed possimus perspiciatis in consequatur
                similique minus obcaecati? Voluptatem. Tenetur possimus delectus optio
                autem nesciunt nemo ex accusantium quaerat quo tempora! Et commodi
                voluptates iste laudantium quasi excepturi harum recusandae voluptatibus
                rem corrupti officia molestiae ducimus eum, illo expedita.
            </p>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora ut
                accusantium minus aliquam incidunt. Numquam laborum, officia veniam
                eaque pariatur adipisci corporis minima quia voluptate fuga. Obcaecati
                vel distinctio facilis.
            </p>
        </div>
        <div class="img-container">
            <img src="/src/resources/aboutusphotos/img2.founders.jpg" alt="founderzy ITSPA" class="img-responsive" />
        </div>
    </div>
</div>


</div>



