<link rel="stylesheet" src="./aboutus.css"/>
<div class="about">
<div id="about-main">
    
    <div class="story-container">
        
        <div class="card mb-3">
            <img class="card-img-top" src="/src/resources/aboutusphotos/img1.hotel.jpg" alt="founders image"/>
            <div class="card-body">
                <h5 class="card-title">O IT SPA</h5>
                <p class="card-text">
                    W sposób pieczołowity przygotujemy komfortowe warunki do przeprowadzenia 
                    zarówno konferencji, szkoleń, spotkań biznesowych jak i różnego rodzaju 
                    warsztatów czy uroczystości rodzinnych.<br />
                    Hotel znajduje się w wygodnym miejscu: w ciągu kilku minut można dojść (300 metrów) do centrum handlowego NovySmichov, 
                    stacji metra Andel i mnóstwa przystanków tramwajowych. Do centrum miasta również nie jest zbyt daleko:
                    do placu Wacława należy pokonać jedynie trzy przystanki metrem, bądź też przejść 20 minut na pieszo.
                </p>
            </div>
        </div>



        <div class="row">
            <div class="col-12 relax">
            <h2 class="text-center">Zapotrzebowanie na relaks</h2>
            <p class="paragraph"> 
                Weekend w SPA to najlepsza propozycja dla osób, którym w nawale obowiązków trudno wygospodarować czas na codzienną pielęgnację ciała i regularne zabiegi kosmetyczne.
                W salonach usytuowanych w centrum miasta bądź w klimatycznych hotelach można nie tylko odpocząć, lecz także ustalić indywidualny harmonogram zajęć bądź zabiegów ściśle 
                dopasowany do konkretnych potrzeb organizmu. 
                Oferta jest szeroka – od kompleksowej regeneracji ciała, przez relaksujące masaże, po zabiegi odmładzające skórę twarzy.
            </p>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-lg-0">
            <img
                src="../../resources/aboutusphotos/img2.massage.jpg"
                class="w-70 shadow-1-strong rounded mb-4"
                alt=""
            />
            <img
            src="../../resources/aboutusphotos/img5.room.jpg"
            class="w-70 shadow-1-strong rounded mb-4"
            alt=""
            />
            </div>
            <div class="col-lg-6 mb-4 mb-lg-0">
            <img
                src="../../resources/aboutusphotos/img4.room.jpg"
                class="w-70 shadow-1-strong rounded mb-4"
                alt=""
            />
            <img
                src="../../resources/aboutusphotos/img1.massage.jpg"
                class="w-70 shadow-1-strong rounded mb-4"
                alt=""
            />
            </div>
        
        </div>
        


        <div class="container-divider"></div>
        <div class="origin-story-container">
            <h2 class="text-center">Nasza historia</h2>
            <p class="paragraph">
                Rosnące zapotrzebowanie na usługi lecznicze i relaksacyjne powoduje, 
                że w Polsce z roku na rok powstaje coraz więcej ośrodków SPA & Wellness. 
                Koniunkturę na zabiegi napędzają już nie tylko kuracjusze z kraju, lecz także z zagranicy. 
                Każdy z rodzajów SPA charakteryzuje się odmienną filozofią i opiera się na ściśle stworzonej koncepcji architektonicznej. 
                To wszystko przekłada się na wykorzystanie różnych technologii, zabiegów i odpowiednio dobranych linii kosmetyków. 
                Wszystko jest połączone w taki sposób, aby stanowiło całość.
            </p>
            <p class="paragraph">
            
                Powstanie IT Spa jest związane z projektem do  słynnej Akademii Leona Koźmińskiego. 
                Akademia podpisała z zagranicznymi partnerami ponad 200 umów. Dotyczą one współpracy w zakresie wspólnych programów i projektów.
                Dzięki temu mozemy prowadzić wiele programów i wymieniać się doświadczeniami.
   
            </p>
            <p class="paragraph">
            

            </p>
        </div>
        <div class="card mb-3">
            <img class="card-img-top" src="/src/resources/aboutusphotos/img2.founders.png" alt="founders image"/>
            <div class="card-body">
                <h5 class="card-title">O założycielach IT SPA</h5>
                <p class="card-text">
                    Grupa załozycieli IT Spa to wiodący prekursorzy dostarczający rozwiązań wspomagających wypoczynek i relaks.
                    Potrafią zapewnić swoim klientom dzień pełen wypoczynku i pogody ducha. 
                    Współpraca z nimi  pozwoli na jeszcze szybszy wypoczynek i znalezienie swojej harmonii ducha.
                </p>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />



</div>


