<link rel="stylesheet" href='../signin/signin.css' />
<main>
    <div class="wrapper">
        <h2>Skontaktuj się z nami:</h2>
        <div id="error_message"></div>
        <div class="form-group">
        <form id="myform">
            <div class="input_field">
                <input type="text" class="form-control" placeholder="Imię" id="name" />
            </div> <br/>
            <div class="input_field">
                <input type="text"  class="form-control" placeholder="Temat" id="subject" />
            </div><br/>
            <div class="input_field">
                <input type="text"  class="form-control" placeholder="Numer telefonu" id="phone" />
            </div><br/>
            <div class="input_field">
                <input type="text"  class="form-control" placeholder="Email" id="email" />
            </div><br/>
            <div class="input_field">
                <textarea  class="form-control messagebox" placeholder="Wiadomość" id="message"></textarea>
            </div><br/>
            <div class="btn">
                <button type="submit" class="btn btn-info">Prześlij</button>
            </div>
        </form>
        </div>
    </div>
</main>
<aside>
    <h3>Dział obsługi klienta IT SPA</h3>
    <p>
        Numer telefonu: 22 055 13 12
        <br />
        Adres e-mail: pomoc@itspa.pl
        <br />
        Godziny pracy: 08:00 - 17:00
    </p>
    <p>Znajdziesz nas tutaj:</p>
    <div class="wrapper">
        <div class="button">
            <div class="icon"><i class="bi bi-facebook"></i></div>
        </div>
        <div class="button">
            <div class="icon"><i class="bi bi-instagram"></i></div>
        </div>
    </div>
</aside>
<script src="/src/views/contact/contactLogic.js"></script>