<link rel="stylesheet" href="/src/views/contact/contact.css" />
<main>
    <h1>Kontakt</h1>
    <div class="wrapper">
        <h2>Napisz do nas</h2>
        <div id="error_message"></div>
        <form id="myform">
            <div class="input_field">
                <input type="text" placeholder="Imię" id="name" />
            </div>
            <div class="input_field">
                <input type="text" placeholder="Temat" id="subject" />
            </div>
            <div class="input_field">
                <input type="text" placeholder="Numer telefonu" id="phone" />
            </div>
            <div class="input_field">
                <input type="text" placeholder="Email" id="email" />
            </div>
            <div class="input_field">
                <textarea placeholder="Wiadomość" id="message"></textarea>
            </div>
            <div class="btn">
                <input type="submit" />
            </div>
        </form>
    </div>
</main>
<aside>
    <h3>Dane kontaktowe działu Obsługi Klienta</h3>
    <p>
        Numer telefonu: 22 055 13 12
        <br />
        Adres e-mail: pomoc@itspa.pl
        <br />
        Godziny pracy: 08:00 - 17:00
    </p>
    <p>Znajdziesz nas tutaj:</p>
    <div class="wrapper">
        <div class="button">
            <div class="icon"><i class="fab fa-facebook-f"></i></div>
            <span>Facebook</span>
        </div>
        <div class="button">
            <div class="icon"><i class="fab fa-instagram"></i></div>
            <span>Instagram</span>
        </div>
    </div>
</aside>
<script src="/src/views/contact/contactLogic.js"></script>